:root{
    --colordefono: #007ACC;
}

body{
 background-color: darkturquoise;


}
.menu  {
  
    flex-direction: column;
}

.item{
    background-color:var(--colordefono);
    width: 100%;
    padding-top:100px ;
    padding-bottom: 100px;
    text-align: center ;
    font-family: 'Audiowide', cursive;
    font-size: 3em;    
}

.item:hover{
    background-color: blueviolet;
    color: cyan;
    filter: drop-shadow(0 -6mm 4mm rgb(18, 210, 0));
    transform: skewy(20deg);
    transition-duration: 0.5s


}



#menu {
    position: absolute;
    visibility: hidden;
  }
  
  #A3 {
    display: none;
  }
  
  #menu:checked~#A3 {
    display: block;
  }
  #menu:checked~ * h1 {
    color: whitesmoke;
  }

.icono{
    width: 100px;
    height: 20px;
    background-color: darkblue;
}

.icono::after{
    content: ".";
    position:relative;
    top:300px;
    width: 100px;
    height: 20px;
    background-color: darkblue;
    
}

.name{
    border: 5px rgb(0, 234, 255) dotted;
    width: 80%;
    border-radius: 30px;
    background-color: violet;
   
}

.name:hover{
    filter: drop-shadow(10px 10px 10px rgb(162, 245, 162));
    transition-duration: 0.5s
}
.name:active {
    height: 606px;
}